<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BlogWoodz - Drafts</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="css/drafts.css">
<link rel="shortcut icon" href="other/favicon.png" type="image/x-icon">  

<link rel="stylesheet" href="css/search.css">
</head>
<body>
    <%- include('partials/navbar') %>
    <a href="/create-blog">+ New Blog</a>

    <div class="row" style="font-family: serif;">
        <%blog.forEach(blog=>{%>
        <div class="column">
          <div class="card" >
            <%if (blog.thumbnail !=""){%>
              <img src="<%= blog.thumbnail %>" class="card-img-top">
              <%}else{%>
              <img src="/other/Bloggily.png" class="card-img-top">
              
                <%}%>
            <a href="draft_edit/<%= blog._id %>"class="stretched-link">
              <%if ((blog.title).length > 50){%>
              <h3><%= (blog.title).substring(0,50)+".." %></h3>
                <%}else{%>
              <h3><%= (blog.title) %></h3>
                  <%}%>
            </a>
            
              <%if((blog.desc).length >100){%>
             <p><%= (blog.desc).substring(0,100)+".." %></p>
            <%}else{%>
             <p><%= (blog.desc)%></p>
              <%}%>
          </div>
        </div>
        <%})%>
        </div>
      
       
<br>


<script src="js/drafts.js"></script>

</body>
</html>