<!DOCTYPE html>
<html>

<head>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">

  <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.js"></script>
  <link rel="stylesheet" href="../css/postblogedit.css">
  <link rel="stylesheet" href="../css/search.css">
  <link rel="shortcut icon" href="../other/favicon.png" type="image/x-icon">  

  <title>BlogWoodz - Create New Blog</title>
</head>

<body>
    <%- include("partials/navbar.ejs")%>
  
    <input type="hidden" value="<%= blog._id %>" name="id">
    <label for="title">Title </label><small class="text-muted">(required)</small><input class="form-control input-sm" type="text" id="title" name="title" value="<%=blog.title%>" required>
    <p class="text-danger" id="dtitle"></p>
    <br><label for="desc">Description</label><small class="text-muted">(required)</small>
    <br><input class="form-control input-sm" type="text" id="desc" name="desc" value="<%=blog.desc %>" required>
    <p class="text-danger" id="ddesc"></p>
    <br>
    <label for="thumbnail">Thumbnail</label><small class="text-muted">(optional)</small><input class="form-control input-sm" type="text" id="thumbnail" name="thumbnail" value="<%= blog.thumbnail %>" required placeholder="Add link">
    <br>
    
    <label for="content">Content</label><small class="text-muted">(required)</small>
    <textarea name="editor" id="editor" required>
        <%- blog.body %>
  </textarea>
  <label for="content">Genre</label><small class="text-muted">(required)</small><br>
  <select name="genre" id="genre">
    <option value="personal">Personal</option>
    <option value="travel">Travel</option>
    <option value="food">Food</option>
    <option value="technical">Technical</option>
    <option value="programming">Programming</option>
    <option value="lifestyle">Lifestyle</option>
    <option value="entertainment">Entertainment</option>
    <option value="other">Other</option>
  </select><br>
  <br>
    <button type="button" id="ads" class="btn btn-primary">Add your Ad-script</button><small class="text-muted">(optional)</small>
    <div id="ads-textarea" style="display:none;"><textarea class="form-control" id="ads-script" ><%- blog.ads %></textarea></div><br>
    <button type="button" id="delete" class="btn btn-danger" data-toggle="modal" data-target="#myModal" style="float: right; margin-right: 20px;">Delete</button>
    <button type="button" class="btn btn-success" id="post" style="float: right; margin-right: 20px;">Post</button>
  
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog modal-sm">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Delete Blog</h4>
            </div>
            <div class="modal-body">
              <p>Do you wish to continue?</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" id="delete_confirm" data-dismiss="modal">Delete</button>
            </div>
          </div>
        </div>
      </div>
  <script src="../js/postblogedit.js">
  </script>

</body>

</html>